{% extends 'base.html.twig' %}

{% block title %}Modifier lieu{% endblock %}

{% block body %}
    <h1>Modifier lieu</h1>

    {{ include('place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_place_index') }}">Retour à la liste</a>

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
